*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1618221195710-dd6b41faaea6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1249&q=80");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.logo{
    width: 100px;
    cursor: pointer;
}
.navbar{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar i {
    color: #ccc;
}

.user i, .logo i {
    color: teal;
}

button{
    color: #ccc;
    font-size: 20px;
    padding: 10px 25px;
    background: #104f55;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
	
}
button:hover{
	background-color: #104f55;
}
.content{
    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}
h1{
    font-size: 50px;
    margin: 10px 0 30px;
    line-height: 80px;
    color: white;
}

small {
    color: white;
    font-size: 20px;
}

